<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <ul>
      <% messages.forEach(message => { %>
          <li>
            <p><%= message.text %> <strong>~<%= message.user %></strong></p>
            <p>[<%= message.added %>]</p>
          </li>
      <% }) %>
    </ul>

    <button type="button">
      <a href="/new">New Message</a>
    </button>
  </body>
</html>
